# תלויות והתקנות אוטומטיות
node_modules/

# קבצים של Expo
.expo/
.expo-shared/

# לוגים זמניים
*.log

# קבצי סביבת עבודה פרטיים
.vscode/
.idea/

# קבצי סביבה עם מידע רגיש
.env
.env.*

# קבצים זמניים
*.tmp
